@import url("https://use.typekit.net/qfq3xua.css");
:root {
  --clr-white: hsl(0 88% 100%);
  --clr-primary: hsl(203 100% 73%);
  --clr-secondary: hsl(73 67% 55%);
  --clr-dark:hsl(0 0% 0% / 0.79);
  --ff-sculpin: sculpin, sans-serif;
  --ff-base: basel-neue, sans-serif;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700:700;
}

.bg-primary {
  background-color: var(--clr-primary);
}

.bg-secondary {
  background-color: var(--clr-secondary);
}

.bg-dark {
  background-color: var(--clr-dark);
}

.txt-white {
  color: var(--clr-white);
}

.txt-primary {
  color: var(--clr-primary);
}

.txt-secondary {
  color: var(--clr-secondary);
}

.txt-dark {
  color: var(--clr-dark);
}

.ff-sculpin {
  font-family: var(--ff-sculpin);
}

.ff-base {
  font-family: var(--ff-base);
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.title {
  text-align: center;
  margin-bottom: 50px;
  font-size: clamp(1rem, 5vw + 1rem, 3rem);
}

.container {
  width: min(90%, 1200px);
  margin-inline: auto;
}

.underline > * {
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: all 500ms ease-in-out;
}
.underline > *:hover, .underline > *:focus {
  border-color: rgba(255, 255, 255, 0.5);
}
.underline > *.active {
  border-color: white;
}

.shadow {
  box-shadow: var(--vx, 0.3rem) var(--vh, 0.4rem) var(--blur, 0.3rem) var(--spread, 0.3rem) var(--clr, rgba(0, 0, 0, 0.5));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

.section + .section > * {
  margin-top: 5px;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 100px 1fr;
}
.hero .nav {
  height: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 51.25rem) {
  .hero .nav__logo {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}
.hero .nav__menu {
  flex-basis: 50%;
  padding: 0.7em;
  border-radius: 0.6em;
  margin-left: auto;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  gap: 1em;
}
@media (max-width: 51.25rem) {
  .hero .nav__menu {
    display: none;
  }
}
.hero .nav__items a {
  font-size: clamp(0.5rem, 5vw, 1rem);
}
.hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 150px;
}
@media (max-width: 51.25rem) {
  .hero__container {
    margin-top: 0;
  }
}
.hero__title {
  font-size: clamp(1.5rem, 5vw + 1rem, 3.5rem);
  line-height: 1;
}
.hero__title span {
  display: block;
}
@media (max-width: 51.25rem) {
  .hero__title {
    display: none;
  }
}
.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url(../img/banner-desktop.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  z-index: -1;
}
@media (max-width: 51.25rem) {
  .hero::after {
    display: none;
  }
}
@media (max-width: 820px) {
  .hero {
    all: unset;
  }
}

.card-section {
  margin-top: 0.3125rem;
  text-align: center;
  padding-block: 50px;
  --clr-secondary: hsl(139 67% 55% / 0.5);
  background-color: var(--clr-secondary);
  background-image: linear-gradient(35deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
}
.card-section .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  gap: 25px;
}
.card-section .card {
  display: flex;
  flex-direction: column;
  width: 35ch;
  padding: 1.25rem;
  border-radius: 6px;
}
.card-section .card__title {
  padding: 0.8em 0.5em;
  background-color: var(--clr-white);
  border-radius: 6px;
  margin-bottom: 5px;
}
.card-section .card__paragraph {
  margin-top: 10px;
  text-align: justify;
}
.card-section .card .btn {
  display: inline-block;
  outline: 1px solid var(--clr-white);
  align-self: center;
  padding: 0.5em 0.7em;
  border-radius: 3.125rem;
  font-weight: bold;
  transition: all 700ms ease-in-out;
}
.card-section .card .btn:hover, .card-section .card .btn:focus {
  color: var(--clr-white);
  outline: 1px solid var(--clr-dark);
}

.card__portabilidad {
  margin-top: 10px;
  background-image: url(../img/card/celular-cadena.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 18.75rem;
  background-repeat: no-repeat;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.card__renovacion {
  margin-top: 10px;
  background-image: url(../img/card/celular-playa.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 18.75rem;
  background-repeat: no-repeat;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.card__duos-trios {
  margin-top: 10px;
  background-image: url(../img/card/familia-tv.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 18.75rem;
  background-repeat: no-repeat;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.card__avanzados {
  margin-top: 10px;
  background-image: url(../img/card/avanzados.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 18.75rem;
  background-repeat: no-repeat;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.saber {
  padding-block: 50px;
  position: relative;
}
.saber::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--clr-secondary);
  clip-path: polygon(16% 26%, 84% 13%, 73% 63%, 15% 91%);
}
.saber-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.saber__paragraph {
  background-color: var(--clr-dark);
  padding: 20px;
  border-radius: 12px;
  color: var(--clr-white);
}

.contacto {
  padding-block: 11.875rem;
  background-image: url(../img/contacto/paisaje.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.contacto .contenedor-formulario {
  background-color: var(--clr-white);
  min-height: 30.3125rem;
  width: 80%;
  margin-inline: auto;
  border-radius: 0.4375rem;
  display: flex;
  justify-content: space-between;
}
.contacto .contenedor-formulario .formulario {
  width: 100%;
  padding: 70px;
}
.contacto .contenedor-formulario .formulario__paragraph {
  margin-bottom: 0.625rem;
  line-height: 1;
  font-size: clamp(0.9rem, 1.05wv, 1.2rem);
  text-align: center;
}
.contacto .contenedor-formulario .formulario-form :is(.formulario__txt, .formulario__area) {
  padding-block: 0.625rem;
  border: none;
  border-bottom: 1px solid var(--clr-dark);
  font-size: 0.9rem;
  width: 100%;
}
.contacto .contenedor-formulario .formulario-form .formulario__area {
  resize: none;
  min-height: 5.625rem;
}
.contacto .contenedor-formulario .formulario-form [type=submit] {
  background-color: var(clr-dark);
  font-size: 0.9rem;
  width: 100%;
  border: none;
  border: 1px solid #000;
  transition: all 500ms ease-in-out;
}
.contacto .contenedor-formulario .formulario-form [type=submit]:hover {
  background-color: #fff;
  color: red;
}
.contacto .contenedor-formulario .titulo {
  font-size: clamp(1rem, 2.555vw, 1.5rem);
  line-height: 1.5;
  margin-bottom: 0.625rem;
  text-align: center;
}
@media (min-width: 50rem) {
  .contacto .formulario__foto {
    display: block;
    width: 100%;
    background: var(--clr-primary);
    background-image: url(../img/contacto/hombre-muneco.png);
    background-size: cover;
    background-position: center center;
  }
}

.whatsapps {
  padding-block: 3.125rem;
}
.whatsapps-container {
  background-color: var(--clr-dark);
  padding: 0 20px 3.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.whatsapps-container__img {
  width: 250px;
}
.whatsapps-container__paragraph {
  text-align: justify;
}
.whatsapps-container__paragraph .title {
  margin-bottom: 25px;
}

.footer {
  padding-block: 50px;
  height: 100vh;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}
.footer__oficina {
  font-size: 1rem;
  line-height: 2;
}
.footer__img {
  width: 7.5rem;
}
.footer__redes {
  text-align: center;
}

/*# sourceMappingURL=destino.css.map */
