

$cards: (
    portabilidad: url(../img/card/celular-cadena.jpg),
    renovacion: url(../img/card/celular-playa.jpg),
    duos-trios: url(../img/card/familia-tv.jpg),
    avanzados: url(../img/card/avanzados.jpg)
);