

@mixin boton{
    display: inline-block;
    outline: 1px solid var(--clr-white);
    align-self: center;
    padding: .5em .7em;
    border-radius: 3.125rem;
    font-weight: bold;
    transition: all 700ms ease-in-out;

    &:hover,
    &:focus {
        color: var(--clr-white);
        outline:1px solid var(--clr-dark);
    }
}