@use '../base/estructura';
@use '../abstract/mixins';
@use '../abstract/maps';

.card-section {
    margin-top: 0.3125rem;
    text-align: center;
    padding-block: 50px;
    --clr-secondary: hsl(139 67% 55% / 0.5);
    background-color: var(--clr-secondary);
    background-image:linear-gradient(35deg, rgba(0 0 0 / 0.3), rgba(0 0 0 / 0.5));

    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
       place-items: center;
       gap:25px;
        
    }

    .card {
        display: flex;
        flex-direction: column;
        // width: min(90%, 300px);
        width: 35ch;
        // outline: 2px solid black;
        // background-color: var(--clr-primary);
        padding: 1.25rem;
        border-radius: 6px;
    

        &__title {
            // width: max-content;
            // text-align: left;
            padding: 0.8em 0.5em;
            background-color: var(--clr-white);
            border-radius: 6px;
            margin-bottom: 5px;
        }

        &__paragraph {
            margin-top: 10px;
            text-align: justify;
        }

        .btn {
          @include mixins.boton;
        }
    }
}

@each $foto, $valor in maps.$cards {
    .card__#{$foto} {
        margin-top: 10px;
        background-image: $valor;
        background-position: center center;
        background-size: cover;
        min-height: 18.75rem;
        background-repeat:no-repeat;
        border-top-left-radius: 0.375rem;
        border-top-right-radius: 0.375rem;
    }
}