@use '../base/estructura';

.contacto {
    padding-block: 11.875rem;
    background-image: url(../img/contacto/paisaje.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
   
   
    & .contenedor-formulario {
        background-color: var(--clr-white);
        min-height: 30.3125rem;
        width: 80%; 
        margin-inline: auto;
        border-radius: 0.4375rem;
        display: flex;
        justify-content: space-between;

        & .formulario {
            width: 100%;
            padding: 70px;
            

            &__paragraph {
                margin-bottom: 0.625rem;
                line-height: 1;
                font-size: clamp(0.9rem, 1.05wv, 1.2rem);
                text-align: center;
            }

            &-form {
                :is(.formulario__txt, .formulario__area) {
                    padding-block: 0.625rem;
                    border: none;
                    border-bottom: 1px solid var(--clr-dark);
                    font-size: .9rem;
                    width: 100%;
                }

                & .formulario__area {
                    resize: none;
                    min-height: 5.625rem;
                }

                & [type="submit"] {
                    background-color: var(clr-dark);
                    font-size: 0.9rem;
                    width: 100%;
                    border: none;
                    border: 1px solid #000;
                    transition: all 500ms ease-in-out;

                    &:hover {
                        background-color: #fff;
                        color: red
                    }
                }
            }
        }

        & .titulo {
            font-size: clamp(1rem, 2.555vw, 1.5rem);
            line-height: 1.5;
            margin-bottom: 0.625rem;
            text-align: center;
        }


    }

    .formulario__foto {
        @media (min-width:50rem){
            
            display: block;
            width: 100%;
            background: var(--clr-primary);
            // background: linear-gradient(to bottom right, red, blue);
            background-image: url(../img/contacto/hombre-muneco.png);
            background-size: cover;
            background-position: center center;
        }

      
    }
}