@use '../base/estructura';

.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 100px 1fr;

    .nav {
        height: 100%;
        display: flex;
        align-items: center;

        &__logo {
            @media (max-width:51.25rem) {
                display: block;
                width: 100%;
                text-align: center;
                margin-top: 10px;
            }
        }
        

        &__menu {
            flex-basis: 50%;
            padding: 0.7em;
            border-radius: 0.6em;
            margin-left: auto;
            display: grid;
            grid-auto-flow: column;
            // grid-auto-: max-content;
            justify-content: space-around;
            gap: 1em;

            @media (max-width:51.25rem) {
                display: none;
            }
        }

        &__items a {
            font-size: clamp(0.5rem, 5vw, 1rem);
        }
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 150px;

        @media (max-width:51.25rem){
            margin-top: 0;
        }
        
    }

    &__title {
        font-size: clamp(1.5rem, 5vw + 1rem, 3.5rem);
        line-height: 1;
        span {
            display: block;
        }

        @media (max-width:51.25rem) {
            display: none;
        }
    }


    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100vh;
        background-image: url(../img/banner-desktop.jpg);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        z-index: -1;

        @media (max-width:51.25rem) {
            display: none;
        }
    }

    @media (max-width:820px) {
       all: unset;
    }
}