@use '../base/estructura';
@use '../base/utilities';

.saber {
    padding-block: 50px;
    position: relative;
    
    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: var(--clr-secondary);
        clip-path: polygon(16% 26%, 84% 13%, 73% 63%, 15% 91%);
        
    }

    &-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
        
    }


    &__paragraph {
        background-color: var(--clr-dark);
        padding: 20px;
        border-radius: 12px;
        color: var(--clr-white);
    }
}