
.footer {
    padding-block: 50px;
    height: 100vh;

    &-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }

    &__oficina {
        font-size: 1rem;
        line-height: 2;
    }

    &__img {
        width: 7.5rem;
    }

    &__redes {
        text-align: center;
    }
    
}
