

.whatsapps {
    padding-block: 3.125rem;
    // background-color: var(--clr-dark);
    //   background-color: var(--clr-primary);

    &-container {
        background-color: var(--clr-dark);
        padding: 0 20px 3.125rem;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-between;


        &__img {
            width: 250px;
        }

        &__paragraph {
            text-align: justify;
            .title {
                margin-bottom: 25px;
            }
        }

    }
}