@use './utilities';

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

.section + .section > * {
    margin-top: 5px;
}
