@import url("https://use.typekit.net/qfq3xua.css");

:root {
    // COLORS
    --clr-white: hsl(0 88% 100%);
    --clr-primary: hsl(203 100% 73%);
    --clr-secondary: hsl(73 67% 55%);
    --clr-dark:hsl(0 0% 0% / 0.79);

    // FONT
    --ff-sculpin: sculpin, sans-serif;
    --ff-base: basel-neue, sans-serif;

    //FONT WEIGHT
    --fw-400: 400;
    --fw-500: 500;
    --fw-700:700;
}


// BG-COLORS
.bg-primary{ background-color: var(--clr-primary);}
.bg-secondary{background-color:var(--clr-secondary);}
.bg-dark {background-color:var(--clr-dark);}

//TEXT-COLORS
.txt-white {color: var(--clr-white);}
.txt-primary {color: var(--clr-primary);}
.txt-secondary {color: var(--clr-secondary)};
.txt-dark {color: var(--clr-dark)};

//FONTS FAMILIES 
.ff-sculpin { font-family: var(--ff-sculpin);}
.ff-base { font-family: var(--ff-base);}

//FONTS WEIGHT
.fw-400 {font-weight: 400;}
.fw-500 {font-weight:500;}
.fw-700 {font-weight:700;}

.uppercase {
    text-transform: uppercase;
}

.title {
    text-align: center;
    margin-bottom: 50px;
    font-size: clamp(1rem, 5vw + 1rem, 3rem);
}

.container {
    width: min(90%, 1200px);
    margin-inline: auto;
}

.underline > * {
    border-bottom: 2px solid hsl(10 0% 100% / 0);
    transition: all 500ms ease-in-out;

    &:hover,
    &:focus {
        border-color: hsl(10 0% 100% / 0.5);
    }

    &.active {
        border-color: hsl(10 0% 100% / 1); 
    }
}

.shadow {
    box-shadow: 
        var(--vx, 0.3rem)
        var(--vh, .4rem)
        var(--blur, 0.3rem)
        var(--spread, 0.3rem)
        var(--clr, hsl(0 0 0 /.5));
}
